# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.development.local
.env.test.local
.env.production.local

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite & Local DBs
*.db
*.sqlite3
chameleon.db

# Honeypot Logs & TTY
honeypot/logs/
honeypot/logs2/
honeypot/tty/
*.log

# Secret Credentials
serviceAccountKey.json
*.pem

# Firebase CLI & IDE
.firebase/
.idea/
.vscode/
*.suo
*.user
*.userossc
*.sln
*.docstates
.DS_Store
